# Ignore configuration files that may contain sensitive information.
www/sites/*/settings*.php

# Ignore paths that contain user-generated content.
/www/sites/*/files/
/www/sites/*/private/

www/.htaccess